<!-- ***** 00. NavBar & Header(Intro) ***** -->
<header class="header" role="banner" id="top">
    <div class="row">
        <nav class="nav" role="navigation">
            <ul class="nav__items">
                <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#projects" class="nav__link">My projects</a></li>
                <li class="nav__item"><a href="#skills" class="nav__link">My Skills</a></li>
                <li class="nav__item"><a href="#MyWorkExp" class="nav__link">My Work Experience</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact Me</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__text-box row">
        <div class="header__text">
            <h1 class="heading-primary home-author">
                Hi. I'm Rohith, <span id="dynamic-text">{{ dynamicText }}</span>
            </h1>

            <p style="font-size: X-large;">Tech enthusiast passionate about software development, cybersecurity, and
                cloud computing. Seeking opportunities to grow as a developer and contribute to impactful projects.</p>
            <a href="#contact" class="btn btn--purple">Get in touch</a>
        </div>
    </div>
</header>

<!-- ***** 01. About ***** -->
<main role="main">
    <section class="about" id="about">
        <div class="row">
            <h2>About Me</h2>
            <div class="about__content">
                <div class="about__text">
                    <p>
                        I am an enthusiastic Information Technology student at Temasek Polytechnic, graduating in April
                        2026 with
                        a strong academic record (CGPA 3.84). With a solid foundation in application development,
                        cybersecurity, cloud
                        computing, data analysis, and machine learning, I have honed my skills in full-stack web
                        development, UI/UX design,
                        and database management.
                    </p>
                    <p>
                        Passionate about solving complex problems and creating impactful digital solutions, I strive to
                        contribute to
                        innovative projects that push the boundaries of technology while continuously growing as a
                        software engineer.
                        Whether collaborating in a team or working independently, I bring creativity, adaptability, and
                        a commitment to excellence.
                    </p>
                    <div class="buttons">
                        <a href="https://drive.google.com/file/d/1MuYkE82Kj9saYToj0f-qw5AV_QT1Np_9/view?usp=drive_link"
                            class="btn">My Resume</a>
                        <a href="https://www.linkedin.com/in/rohith-parthipan/" class="btn btn-secondary">Connect with
                            me</a>
                    </div>
                </div>

                <div class="about__photo-container">
                    <img class="about__photo" src="assets/images/About_me.jpg" alt="About Me" />
                </div>
            </div>
        </div>
    </section>
</main>

<!-- ***** 02. My Projects ***** -->
<section class="projects" id="projects">
    <div class="row">
        <h2>My Projects</h2>
        <div class="work__boxes">

            <!-- Each div with the work__box class is a project. -->

            <div class="work__box">
                <div class="work__text">
                    <h3>BookTrack: Your Library, Perfectly Tracked</h3>
                    <p>
                        The app lets administrators manage the library’s collection, track book borrowings, and update
                        book
                        details.
                        It includes automated testing for both backend and frontend, with data stored in MongoDB Atlas.
                    </p>
                    <ul class="work__list">
                        <li>HTML5</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>MongoDB Atlas</li>
                    </ul>
                    <div class="work__links">
                        <a href="https://github.com/guyidk/BookTrack_DevOps_Project" class="link__text">
                            Github Repo <span>&rarr;</span>
                        </a>
                    </div>
                </div>


                <div class="work__image-box">
                    <img src="assets/images/BookTrack_demo.gif" alt="Project 1" />
                </div>
            </div>


            <div class="work__box">
                <div class="work__text">
                    <h3>Mobile App Development with Flutter</h3>
                    <p>
                        I developed a mobile app using Adobe XD for design and Flutter/Dart for functionality, aimed at
                        tracking
                        food inventory and expiration dates to reduce waste. It integrates Firebase for backend services
                        and
                        offers
                        a user-friendly interface with list/calendar views, notifications, and purchase reminders,
                        showcasing my
                        mobile development skills and commitment to minimizing food waste.
                    </p>
                    <ul class="work__list">
                        <li>Dart</li>
                        <li>Flutter</li>
                        <li>Firebase</li>
                    </ul>

                    <div class="work__links">
                        <a href="https://github.com/guyidk/Expiro_rohith" class="link__text">
                            Github Repo <span>&rarr;</span>
                        </a>
                    </div>
                </div>
                <div class="work__image-box">
                    <img src="assets/images/Expiro_Demo.gif" alt="Project 1" />
                </div>
            </div>

            <div class="work__box">
                <div class="work__text">
                    <h3>Automated Testing with GitHub Actions and Jest</h3>
                    <p>
                        Developed a robust automated testing pipeline using GitHub Actions and Jest, incorporating
                        stubbing to
                        isolate dependencies and ensure accurate test results. This setup streamlined continuous
                        integration,
                        providing efficient, reliable testing and enhancing overall code quality throughout the
                        development
                        process.
                    </p>
                    <ul class="work__list">
                        <li>Jest</li>
                        <li>GitHub</li>
                    </ul>
                </div>
                <div class="work__image-box">
                    <img src="assets/images/Backend_Testing_Demo.gif" alt="Project 1" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** 03. My Skills ***** -->
<section class="skills" id="skills">

    <div class="row">
        <h2>My Skills</h2>
        <div class="work__boxes">

            <div class="work__box">
                <div class="work__text">
                    <h3>Education</h3>
                    <p>
                        I have consistently maintained strong academic performance with a CGPA of 3.84 while actively
                        participating
                        in co-curricular activities. As Vice President of the Information Technology Student Interest
                        Group, I
                        have
                        honed my leadership and teamwork skills. Through workshops, events, and volunteering, I have
                        developed a
                        well-rounded skill set and a proactive approach to learning and growth.
                    </p>
                    <div class="work__links_g">
                        <a href="https://drive.google.com/file/d/1jrO3jjmhob8PLeWnVTuDKYw6XyLeNFnT/view?usp=sharing"
                            class="btn" id="viewgrades">Explore education</a>
                    </div>
                </div>
                <div class="work__image-box">
                    <img src="assets/images/poly_grades&CCA.png" class="work__image" alt="Project 1" />
                </div>
            </div>

            <!-- <div class="modal_g" id="imageModal_g">
                <div class="modal-content_g">
                    <span class="close_g">&times;</span>
                    <img id="modalImage_g" src="assets/images/Certification.gif" alt="Grades" />
                    <a class="prev_g">&#10094;</a>
                    <a class="next_g">&#10095;</a>
                </div>
            </div> -->

            <div class="work__box">
                <div class="work__text">
                    <h3>Technical Skills</h3>
                    <div class="row">
                        <div class="technicalSkillsHexes">
                            <h1 class="section-title">Programming Languages</h1>
                            <div class="hex-grid sixpr">
                                <div class="hex"><img src="assets/images/JavaScript-logo.png" alt="JavaScript"
                                        matTooltip="JavaScript" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/typescript.svg" alt="TypeScript"
                                        matTooltip="TypeScript" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/python-logo.png" alt="Python"
                                        matTooltip="Python" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Dart_logo.png" alt="Dart" matTooltip="Dart"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/React-Logo.png" alt="React JS"
                                        matTooltip="React JS" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Angular_logo.png" alt="Angular JS"
                                        matTooltip="Angular JS" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                            </div>

                            <div class="hex-grid fivepr">
                                <div class="hex"><img src="assets/images/Node-logo.png" alt="Node.js"
                                        matTooltip="Node.js" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Expressjs-logo.png" alt="Express.js"
                                        matTooltip="Express.js" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/flutter-logo.svg" alt="Flutter"
                                        matTooltip="Flutter" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/MySQL-Logo.png" alt="MySQL" matTooltip="MySQL"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/MongoDB-logo.png" alt="MongoDB"
                                        matTooltip="MongoDB" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                            </div>

                            <h1 class="section-title">Cloud Services</h1>
                            <div class="hex-grid threepr">
                                <div class="hex"><img src="assets/images/AWS-Logo.png" alt="AWS" matTooltip="AWS"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Firbase-logo.png" alt="Firebase"
                                        matTooltip="Firebase" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Azure-Logo.png" alt="Azure" matTooltip="Azure"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                            </div>

                            <h1 class="section-title">Tools & Platforms</h1>
                            <div class="hex-grid sixpr">
                                <div class="hex"><img src="assets/images/github.svg" alt="GitHub" matTooltip="GitHub"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Docker-Logo-2013.png" alt="Docker"
                                        matTooltip="Docker" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Jenkins_logo.png" alt="Jenkins"
                                        matTooltip="Jenkins" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/New_Power_BI_Logo.svg.png" alt="Power BI"
                                        matTooltip="Power BI" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Knime-Logo.png" alt="KNIME" matTooltip="KNIME"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/VMBox-Logo.png" alt="Virtual Machine"
                                        matTooltip="Virtual Machine" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                            </div>

                            <div class="hex-grid fivepr">
                                <div class="hex"><img src="assets/images/streamlit.png" alt="Streamlit"
                                        matTooltip="Streamlit" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Adobe_XD-logo.png" alt="Adobe XD"
                                        matTooltip="Adobe XD" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Figma.png" alt="Figma" matTooltip="Figma"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Wireshark-logo.png" alt="Wireshark"
                                        matTooltip="Wireshark" matTooltipPosition="above"
                                        matTooltipClass="skill-tooltip light"></div>
                                <div class="hex"><img src="assets/images/Microsoft_Office_logo.png"
                                        alt="Microsoft Office Suite" matTooltip="Microsoft Office Suite"
                                        matTooltipPosition="above" matTooltipClass="skill-tooltip light"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="work__box">
                <div class="work__text">
                    <h3>My Certifications</h3>
                    <div class="certifications-row">
                        <ng-container *ngFor="let certs of certsList">

                            <div class="card">
                                <div class="card-content">
                                    <img [src]="certs.img" class="company-img">
                                    <div class="Cert-Details">
                                        <div class="name">{{certs.name}}</div>
                                        <div class="Issued-Date">{{certs.issueDate}}</div>
                                        <div class="Description">{{certs.description}}</div>
                                    </div>
                                    <div class="button">
                                        <a [href]="certs.link" class="black-gradient">View Credential</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- ***** 04. My Work Experience ***** -->
<section class="MyWorkExp" id="MyWorkExp">
    <div class="row">
        <h2>My Work Experience</h2>
        <h3 style="margin:0% !important;">DBS internship - (1 Apr 2025 to 31 Mar 2026)</h3>
        <div class="about__content">
            <div class="about__text">
                <p>
                    During my internship, I helped develop financial management portals using Node.js, Angular,
                    TypeScript, JavaScript, and SQL.
                    I built dashboards, APIs with OAuth authentication, automation scripts, and worked with tools such
                    as PuTTY, Drone,
                    and Jenkins for deployments. I translated business requirements into scalable solutions, improving
                    both frontend usability and
                    backend performance through optimized queries, data validation, and responsive UI design. I also
                    applied Angular, ng-zorro, and
                    Sequelize to build interactive, data-driven features like region-based views and CSV processing.
                </p>
                <p>
                    Beyond technical work, I strengthened my communication and problem-solving skills through regular
                    syncs with stakeholders and team
                    members. Adapting to feedback, documenting my work, and collaborating across teams taught me how
                    large organizations operate and
                    sharpened my ability to deliver reliable, user-focused software. This experience significantly
                    deepened my full-stack development
                    skills and professional confidence.
                </p>
            </div>

            <div class="about__photo-container">
                <img class="about__photo" src="assets/images/DBS_AsianHub.jpg" alt="About Me" />
            </div>
        </div>
    </div>
</section>

<!-- ***** Contact Me ***** -->
<section class="contact" id="contact">
    <div style="max-width: var(--container-max-width); margin: 0 auto;">
        <h2>Get in Touch</h2>

        <div class="contact-wrapper">
            <!-- Text -->
            <div class="contact-text">
                <p>
                    I’m always excited to connect with like-minded individuals, professionals,
                    and teams who share a passion for technology and innovation.
                    Whether you have a project idea, an internship opportunity,
                    or just want to chat about the latest in tech, feel free to reach out!
                </p>

                <ul class="contact-info">
                    <li>
                        <span>Email: </span>
                        <a href="mailto:rohithkousi@gmail.com">rohithkosui&#64;gmail.com</a>
                    </li>
                    <li>
                        <span>Location: </span>
                        <a>Singapore</a>
                    </li>
                </ul>


                <!-- Social links (moved here) -->
                <div class="contact-socials">
                    <a href="https://github.com/guyidk/" aria-label="GitHub">
                        <img src="assets/images/github.svg" alt="GitHub" />
                    </a>

                    <a href="https://www.linkedin.com/in/rohith-parthipan/" aria-label="LinkedIn">
                        <img src="assets/images/linkedin.svg" alt="LinkedIn" />
                    </a>
                </div>
            </div>

            <!-- Form -->
            <form class="contact-form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                <div class="form-group">
                    <label for="name">Your Name</label>
                    <input id="name" type="text" name="name" ngModel required placeholder="Edward Elric" />
                </div>

                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input id="email" type="email" name="email" ngModel required placeholder="EdwardElric@email.com" />
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" ngModel required placeholder="Leave a message..."></textarea>
                </div>

                <button type="submit" class="submit-btn">
                    Send Message
                </button>
            </form>
        </div>
    </div>
</section>


<!-- ***** 06. To top arrow ***** -->
<a href="#top" class="back-to-top" title="Back to Top">
    <img src="assets/images/arrow-up.svg" alt="Back to Top" class="back-to-top__image" />
</a>